<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Phillies Flowers | Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/main.css" th:href="@{/main.css}" />
<link href='http://fonts.googleapis.com/css?family=Lobster+Two'
	rel='stylesheet' type='text/css' />

<script>
	var today = new Date().toISOString().split('T')[0];
	document.getElementsByName("somedate")[0].setAttribute('min', today);
</script>
</head>
<body onload="date()">
	<script>
	function date() {
		var currentTime = new Date();
		var futureDate = (currentTime.getMonth()+2);
		var month = currentTime.getMonth() + 1;
		var day = currentTime.getDate();
		var year = currentTime.getFullYear();
		
		var date = year + "-" + month + "-" + day;
		
		var x = document.getElementById("datepicker").min = date;
		var y = document.getElementById("datepicker").value = date;
	}
	</script>
	<div id="head">
		<p id="headTitle" th:text="#{heading}">Phillie</p>
		<div id="navBar">
			<ul>
				<li><a href="http://localhost:8070" th:text="#{nav.home}">A</a></li>
				<li th:text="#{nav.order}">A</li>
				<li th:text="#{nav.pack}">A</li>
				<li><a href="http://localhost:8070/login" th:text="#{nav.login}">A</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<p id="headline"  th:text="#{index.headline}">Headline</p>
		<div id="form">
			<form action="#" th:action="@{/order}" th:object="${order}"
				method="post">
				<label th:text="#{index.fName}">fname</label>
				<input type="text" th:field="*{firstName}" /><br /> 
				<p id="error" th:if="${#fields.hasErrors('firstName')}" th:text="#{error.fName}">First Name Error</p>				
				<label th:text="#{index.lName}">lname</label>
				<input type="text" th:field="*{lastName}" /><br /> 
				<p id="error" th:if="${#fields.hasErrors('lastName')}" th:text="#{error.lName}">Last Name Error</p>								
				<label th:text="#{index.mobile}">Mobile</label>
				<input type="text" th:field="*{mobileNo}" /><br /> 
				<p id="error" th:if="${#fields.hasErrors('mobileNo')}" th:text="#{error.mobile}">Mobile Number Error</p>				
				<label th:text="#{index.email}">E-mail</label>
				<input type="text" th:field="*{emailAddress}" /><br />
				<p id="error" th:if="${#fields.hasErrors('emailAddress')}" th:text="#{error.email}">First Name Error</p>				 
				<label th:text="#{index.package}">Package</label>
				<select class="input" id="package" name="packages">
					<option th:each="package : ${packages}" th:value="${package.name}" th:text="${package.name}"></option>
				</select> 
				<label th:text="#{index.date}">Date:</label>
				<input id="datepicker" type="date" name="collection" min="2017-01-01"/> <br />
				<button id="orderButton" type="submit">Submit Order</button>
			</form>
		</div>
	</div>
</body>
</html>
